---
layout: handbook-page-toc
title: People Success Performance Indicators
description: "GitLab's People Success Department Performance Indicators."
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Key Review
The metrics on this page are currently being re-organized according to what the People Group reports out every [Key Review](https://about.gitlab.com/handbook/key-review/) meeting and [Group Conversation](https://about.gitlab.com/handbook/group-conversations/). Below is a link to the most recent `Group Conversation` deck for Team Members to access in the interim. 

[People Group Conversation Deck](https://docs.google.com/presentation/d/1Ot6Kta9_n83tHvb3pYzVSsC7eR_m_VPMOddHOKJ8QtI/edit#slide=id.g20e385ea126_0_374)


## Tableau People KPI Dashboard
The [People Analytics team](https://about.gitlab.com/handbook/people-group/people-ops-tech-analytics/people-analytics/) has a [People KPI Dashboard](https://10az.online.tableau.com/t/gitlab/views/WIP-PeopleKPIs/PeopleKPIsDashboard?:origin=card_share_link&:embed=n) as a SSOT for these metrics. The views from this dashboard will be replacing the current views on this page in the future, but for now they are only viewable to those with a Tableau License here at GitLab. For a more detailed list of People Dashboards please visit the [People Analytics Tableau Dashboard Overview](https://about.gitlab.com/handbook/people-group/people-ops-tech-analytics/people-analytics/people-tableau/) page.

<%= performance_indicators('People Success') %>
